sudo: false
language: java
jdk:
  - oraclejdk7
env:
  matrix:
    - ACCUMULO_VERSION='1.5.2'              ACCUMULO_LEGACY='-Daccumulo.legacy' HADOOP_VERSION='2.6.0'              GEOTOOLS_VERSION='12.4'   GEOSERVER_VERSION='2.6.4' PLATFORM_VERSION='""'
    - ACCUMULO_VERSION='1.6.0-cdh5.1.4'     ACCUMULO_LEGACY=''                  HADOOP_VERSION='2.6.0-cdh5.4.0'     GEOTOOLS_VERSION='13.2'   GEOSERVER_VERSION='2.7.2' PLATFORM_VERSION='cloudera'
    - ACCUMULO_VERSION='1.6.2'              ACCUMULO_LEGACY=''                  HADOOP_VERSION='2.6.0'              GEOTOOLS_VERSION='13.2'   GEOSERVER_VERSION='2.7.2' PLATFORM_VERSION='""'
    - ACCUMULO_VERSION='1.6.1.2.2.4.0-2633' ACCUMULO_LEGACY=''                  HADOOP_VERSION='2.6.0.2.2.4.0-2633' GEOTOOLS_VERSION='13.2'   GEOSERVER_VERSION='2.7.2' PLATFORM_VERSION='hortonworks'
  global:
    - secure: "TosKDl5mnt8UKeyWDg65i6cWENR7EorQbFPSvZ5ZfQfAaDAOeIN2OA/zxtRMELeYM82+n+GGXQOt0qPiYqyRlufYJJSUnWiwvI5gm3a8+f58atcU2R2bF9jd81bsL9jCS+JCQxAmzh8FCO6t7DJ4OdoMyMaIR7XjlSlsIJ97dd8="
    - secure: "IcwzKevdTSsKK9YERJ/LV81pfDe7Fx7qBxYcy43b0/emsioZJsJV5XSYHfFRIqceMkzp8LFBU8qiZR3cPZPKQoCjaG1QcwDeKQpyczIkMwzWzydhLR5dAzVETbQC9i2hH4sWjVVHW5WU6UUc3gCz5rPyIXFUYVUYxFeMWxHCe8w="
    - secure: "DdDzYhyJMMf6ZEIMe3FvK6IDWFWqWLbuFg8SCCnrAHpt6mGo8EOsvvbuyvvWqgCGsFZyvk+hJGamNjQEnSiBSP/2kwSUmpGgZ5DquHxFTkmTeh13ifqf231rwaCwBw9yrDXKdyMxHMVeHIXOjqV7Ylru2t2WoFxIEj4vHnqRjGQ="

cache:
  directories:
  - $HOME/.m2
install: "mvn -q clean install javadoc:aggregate -Dfindbugs.skip -Daccumulo.version=${ACCUMULO_VERSION} ${ACCUMULO_LEGACY} -Dhadoop.version=${HADOOP_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION} -DskipITs=true -DskipTests=true -P ${PLATFORM_VERSION}; .utility/build-docs-site.sh"
script: "mvn -q -T 2C verify -Daccumulo.version=${ACCUMULO_VERSION} ${ACCUMULO_LEGACY} -Dhadoop.version=${HADOOP_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION} -P ${PLATFORM_VERSION}"
before_install:
  - export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=192m"
  - chmod +x .utility/push-javadoc-to-gh-pages.sh
  - chmod +x .utility/build-docs-site.sh
  - chmod +x .utility/maven-coveralls-hack.sh
  - chmod +x .utility/changelog-generator.sh
  - .utility/maven-coveralls-hack.sh
  - cd dev-resources;mvn clean install;cd ..
after_success:
  - .utility/changelog-generator.sh
  - .utility/push-javadoc-to-gh-pages.sh
  - cd test; mvn coveralls:report -Daccumulo.version=${ACCUMULO_VERSION} ${ACCUMULO_LEGACY} -Dhadoop.version=${HADOOP_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION} -P ${PLATFORM_VERSION}

addons:
  apt_packages:
    - pandoc
  coverity_scan:
    project:
      name: ngageoint/geowave
      description: Build submitted via Travis CI
    notification_email: GeoWave@nga.mil
    build_command_prepend: mvn clean
    build_command: mvn clean compile -Dfindbugs.skip -Daccumulo.version=${ACCUMULO_VERSION} ${ACCUMULO_LEGACY}
      -Dhadoop.version=${HADOOP_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION}
      -DskipITs=true -DskipTests=true -P ${PLATFORM_VERSION}
    branch_pattern: coverity_scan
