sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
env:
  matrix:
    # The first line of the matrix just builds docs (only on master) and runs unit tests
    # The rest skip the unit tests and run ITs only
    - NAME='UT and Publish Docs with Latest ASF Versions' STORE_TYPE='ACCUMULO'  ACCUMULO_VERSION='1.7.2'              ACCUMULO_API='1.7' HBASE_VERSION='1.2.3'             HADOOP_VERSION='2.7.3'             GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='""'          BUILD_DOCS=true   IT_ONLY=false
    - NAME='Accumulo IT on Latest ASF Versions' STORE_TYPE='ACCUMULO'  ACCUMULO_VERSION='1.7.2'              ACCUMULO_API='1.7' HBASE_VERSION='1.2.3'             HADOOP_VERSION='2.7.3'             GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='""'          BUILD_DOCS=false  IT_ONLY=true
    - NAME='HBase IT on Latest ASF Versions' STORE_TYPE='HBASE'     ACCUMULO_VERSION='1.7.2'              ACCUMULO_API='1.7' HBASE_VERSION='1.2.3'             HADOOP_VERSION='2.7.3'             GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='""'          BUILD_DOCS=false  IT_ONLY=true
    - NAME='Bigtable IT on Latest ASF Versions' STORE_TYPE='BIGTABLE'     ACCUMULO_VERSION='1.7.2'              ACCUMULO_API='1.7' HBASE_VERSION='1.2.3'             HADOOP_VERSION='2.7.3'             GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='""'          BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Latest CDH Versions' STORE_TYPE='ACCUMULO'  ACCUMULO_VERSION='1.7.2-cdh5.5.0'     ACCUMULO_API='1.7' HBASE_VERSION='1.2.0-cdh5.9.0'    HADOOP_VERSION='2.6.0-cdh5.9.0'    GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='cloudera'    BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Latest HDP Versions' STORE_TYPE='ACCUMULO'  ACCUMULO_VERSION='1.7.0.2.4.2.0-258'  ACCUMULO_API='1.7' HBASE_VERSION='1.1.2.2.4.2.0-258' HADOOP_VERSION='2.7.1.2.4.2.0-258' GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='hortonworks' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Older ASF and GeoTools Versions' STORE_TYPE='ACCUMULO'  ACCUMULO_VERSION='1.6.5'              ACCUMULO_API='1.6' HBASE_VERSION='1.1.5'             HADOOP_VERSION='2.6.4'             GEOTOOLS_VERSION='15.2'   GEOSERVER_VERSION='2.9.2' PLATFORM_VERSION='""'          BUILD_DOCS=false  IT_ONLY=true	 
    - NAME='HBase IT on Latest CDH Versions' STORE_TYPE='HBASE'     ACCUMULO_VERSION='1.7.2-cdh5.5.0'     ACCUMULO_API='1.7' HBASE_VERSION='1.2.0-cdh5.9.0'    HADOOP_VERSION='2.6.0-cdh5.9.0'    GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='cloudera'    BUILD_DOCS=false  IT_ONLY=true
    - NAME='HBase IT on Latest HDP Versions' STORE_TYPE='HBASE'     ACCUMULO_VERSION='1.7.0.2.4.2.0-258'  ACCUMULO_API='1.7' HBASE_VERSION='1.1.2.2.4.2.0-258' HADOOP_VERSION='2.7.1.2.4.2.0-258' GEOTOOLS_VERSION='16.0'   GEOSERVER_VERSION='2.10.0' PLATFORM_VERSION='hortonworks' BUILD_DOCS=false  IT_ONLY=true
  global:
    - secure: "TosKDl5mnt8UKeyWDg65i6cWENR7EorQbFPSvZ5ZfQfAaDAOeIN2OA/zxtRMELeYM82+n+GGXQOt0qPiYqyRlufYJJSUnWiwvI5gm3a8+f58atcU2R2bF9jd81bsL9jCS+JCQxAmzh8FCO6t7DJ4OdoMyMaIR7XjlSlsIJ97dd8="
    - secure: "IcwzKevdTSsKK9YERJ/LV81pfDe7Fx7qBxYcy43b0/emsioZJsJV5XSYHfFRIqceMkzp8LFBU8qiZR3cPZPKQoCjaG1QcwDeKQpyczIkMwzWzydhLR5dAzVETbQC9i2hH4sWjVVHW5WU6UUc3gCz5rPyIXFUYVUYxFeMWxHCe8w="
    - secure: "DdDzYhyJMMf6ZEIMe3FvK6IDWFWqWLbuFg8SCCnrAHpt6mGo8EOsvvbuyvvWqgCGsFZyvk+hJGamNjQEnSiBSP/2kwSUmpGgZ5DquHxFTkmTeh13ifqf231rwaCwBw9yrDXKdyMxHMVeHIXOjqV7Ylru2t2WoFxIEj4vHnqRjGQ="

cache:
  directories:
  - $HOME/.m2
  - test/landsat8
  - test/target/temp/gdal
install: 
  - .utility/pull-dev-resources.sh
  # This will only run on master w/ BUILD_DOCS=true
  - travis_wait 30 .utility/build-docs.sh
script:
  # This script uses the IT_ONLY flag to determine whether to run unit tests using verify, or ITs only using failsafe
  - travis_wait 50 .utility/run-tests.sh
before_install:
  # This must match the dev-resources version from the parent pom:
  - export DEV_RESOURCES_VERSION=1.2
  - export IT_STORE_TYPE=${STORE_TYPE}
  - export MAVEN_OPTS="-XX:CompressedClassSpaceSize=256m -XX:+UseSerialGC -Xmx2048m -XX:MaxMetaspaceSize=256m -Dorg.slf4j.simpleLogger.defaultLogLevel=warn"
  - chmod +x .utility/pull-dev-resources.sh
  - chmod +x .utility/run-tests.sh
  - chmod +x .utility/build-docs.sh
  - chmod +x .utility/publish-docs.sh
  - chmod +x .utility/maven-coveralls-hack.sh
  - .utility/maven-coveralls-hack.sh
  # Bigtable emulator needs this env var set
  # - export BIGTABLE_EMULATOR_HOST=localhost:8128
after_success:
  - .utility/publish-docs.sh
  - cd test; mvn coveralls:report -Daccumulo.version=${ACCUMULO_VERSION} -Daccumulo.api=${ACCUMULO_API} -Dhbase.version=${HBASE_VERSION} -Dhadoop.version=${HADOOP_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION} -P ${PLATFORM_VERSION}

addons:
  apt_packages:
    - pandoc
  coverity_scan:
    project:
      name: ngageoint/geowave
      description: Build submitted via Travis CI
    notification_email: GeoWave@nga.mil
    build_command_prepend: mvn clean
    build_command: mvn clean compile -Dfindbugs.skip -Daccumulo.version=${ACCUMULO_VERSION} -Daccumulo.api=${ACCUMULO_API} -Dhbase.version=${HBASE_VERSION} -Dgeotools.version=${GEOTOOLS_VERSION} -Dgeoserver.version=${GEOSERVER_VERSION} -DskipITs=true -DskipTests=true -Dformatter.skip=true -P ${PLATFORM_VERSION}
    branch_pattern: coverity_scan
