sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
env:
  matrix:
    # The first line of the matrix just builds docs (only on master) and runs unit tests
    # The rest skip the unit tests and run ITs only
    - NAME='UT and Publish Docs with Latest ASF Versions' MAVEN_PROFILES='""' BUILD_DOCS=true   IT_ONLY=false
    - NAME='Accumulo IT on Latest ASF Versions' MAVEN_PROFILES='accumulo-it' BUILD_DOCS=false  IT_ONLY=true
    #- NAME='HBase IT on Latest ASF Versions' MAVEN_PROFILES='hbase-it' BUILD_DOCS=false  IT_ONLY=true
    #- NAME='Cassandra IT on Latest ASF Versions' MAVEN_PROFILES='cassandra-it' BUILD_DOCS=false  IT_ONLY=true
    #- NAME='DynamoDB IT on Latest ASF Versions' MAVEN_PROFILES='dynamodb-it' BUILD_DOCS=false  IT_ONLY=true
    #- NAME='Bigtable IT on Latest ASF Versions' MAVEN_PROFILES='bigtable-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Latest CDH Versions' MAVEN_PROFILES='accumulo-it,cloudera' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Latest HDP Versions' MAVEN_PROFILES='accumulo-it,hortonworks' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo IT on Older ASF and GeoTools Versions' MAVEN_PROFILES='accumulo-it,compatibility' BUILD_DOCS=false  IT_ONLY=true	 
    #- NAME='HBase IT on Latest CDH Versions'  MAVEN_PROFILES='hbase-it,cloudera' BUILD_DOCS=false  IT_ONLY=true
    #- NAME='HBase IT on Latest HDP Versions'  MAVEN_PROFILES='hbase-it,hortonworks' BUILD_DOCS=false  IT_ONLY=true
  global:
    - secure: "TosKDl5mnt8UKeyWDg65i6cWENR7EorQbFPSvZ5ZfQfAaDAOeIN2OA/zxtRMELeYM82+n+GGXQOt0qPiYqyRlufYJJSUnWiwvI5gm3a8+f58atcU2R2bF9jd81bsL9jCS+JCQxAmzh8FCO6t7DJ4OdoMyMaIR7XjlSlsIJ97dd8="
    - secure: "IcwzKevdTSsKK9YERJ/LV81pfDe7Fx7qBxYcy43b0/emsioZJsJV5XSYHfFRIqceMkzp8LFBU8qiZR3cPZPKQoCjaG1QcwDeKQpyczIkMwzWzydhLR5dAzVETbQC9i2hH4sWjVVHW5WU6UUc3gCz5rPyIXFUYVUYxFeMWxHCe8w="
    - secure: "DdDzYhyJMMf6ZEIMe3FvK6IDWFWqWLbuFg8SCCnrAHpt6mGo8EOsvvbuyvvWqgCGsFZyvk+hJGamNjQEnSiBSP/2kwSUmpGgZ5DquHxFTkmTeh13ifqf231rwaCwBw9yrDXKdyMxHMVeHIXOjqV7Ylru2t2WoFxIEj4vHnqRjGQ="

cache:
  directories:
  - $HOME/.m2
  - test/landsat8
  - test/target/temp/gdal
install: 
  - .utility/pull-dev-resources.sh
  # This will only run on master w/ BUILD_DOCS=true
  - travis_wait 30 .utility/build-docs.sh
script:
  # This script uses the IT_ONLY flag to determine whether to run unit tests using verify, or ITs only using failsafe
  - travis_wait 50 .utility/run-tests.sh
before_install:
  # This must match the dev-resources version from the parent pom:
  - export DEV_RESOURCES_VERSION=1.2
  - export MAVEN_OPTS="-XX:CompressedClassSpaceSize=256m -XX:+UseSerialGC -Xmx2048m -XX:MaxMetaspaceSize=256m -Dorg.slf4j.simpleLogger.defaultLogLevel=warn"
  - chmod +x .utility/pull-dev-resources.sh
  - chmod +x .utility/run-tests.sh
  - chmod +x .utility/build-docs.sh
  - chmod +x .utility/publish-docs.sh
  - chmod +x .utility/maven-coveralls-hack.sh
  - .utility/maven-coveralls-hack.sh
after_success:
  - .utility/publish-docs.sh
  - cd test; mvn coveralls:report -P ${MAVEN_PROFILES}

addons:
  apt_packages:
    - pandoc
  coverity_scan:
    project:
      name: ngageoint/geowave
      description: Build submitted via Travis CI
    notification_email: GeoWave@nga.mil
    build_command_prepend: mvn clean
    build_command: mvn clean compile -Dfindbugs.skip -DskipTests=true -Dformatter.skip -P ${MAVEN_PROFILES}
    branch_pattern: coverity_scan
