dist: xenial
language: java
jdk:
  # oraclejdk8 is not available on xenial
  # - oraclejdk8
env:
  matrix:
    # The first line of the matrix just builds docs (only on master) and runs unit tests
    # The rest skip the unit tests and run ITs only
    - NAME='UT and Publish Docs with Latest ASF Versions' MAVEN_PROFILES='""' BUILD_DOCS=true   IT_ONLY=false
    - NAME='Redis IT on Latest ASF Versions' MAVEN_PROFILES='redis-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='RocksDB IT on Latest ASF Versions' MAVEN_PROFILES='rocksdb-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo Client IT on Latest ASF Versions' MAVEN_PROFILES='accumulo-it-client' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo Server IT on Latest ASF Versions' MAVEN_PROFILES='accumulo-it-server' BUILD_DOCS=false  IT_ONLY=true
    - NAME='HBase Client IT on Latest ASF Versions' MAVEN_PROFILES='hbase-it-client' BUILD_DOCS=false  IT_ONLY=true
    - NAME='HBase Server IT on Latest ASF Versions' MAVEN_PROFILES='hbase-it-server' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Cassandra IT on Latest ASF Versions' MAVEN_PROFILES='cassandra-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='DynamoDB IT on Latest ASF Versions' MAVEN_PROFILES='dynamodb-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Bigtable IT on Latest ASF Versions' MAVEN_PROFILES='bigtable-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo Server IT on Older ASF and GeoTools Versions' MAVEN_PROFILES='accumulo-it-server,compatibility' BUILD_DOCS=false  IT_ONLY=true
    - NAME='HBase Client IT on Older ASF and GeoTools Versions' MAVEN_PROFILES='hbase-it-client,compatibility' BUILD_DOCS=false  IT_ONLY=true	
#    - NAME='Accumulo Server IT on Latest CDH Versions' MAVEN_PROFILES='accumulo-it-server,cloudera' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Accumulo Server IT on Latest HDP Versions' MAVEN_PROFILES='accumulo-it-server,hortonworks' BUILD_DOCS=false  IT_ONLY=true 
#    - NAME='HBase Server IT on Latest CDH Versions'  MAVEN_PROFILES='hbase-it-server,cloudera' BUILD_DOCS=false  IT_ONLY=true
    - NAME='RockDB IT with Secondary Indexing'  MAVEN_PROFILES='rocksdb-it,secondary-index-it' BUILD_DOCS=false  IT_ONLY=true
    - NAME='Kudu IT on Latest ASF Versions' MAVEN_PROFILES='kudu-it' BUILD_DOCS=false  IT_ONLY=true
  global:
    - secure: C3gdJmFavZxvsRVqCLpRUAaisNV3MhWbSYf4Wjs2SBLC/AIEwN0vDWHOuYiUExuXR1kApBVdNffuCX7bt/5siewHgmiVUGyY1xytxDdv+PAKZihlfYZRGattyg3XUbEFwyjr7c74639Y1w45NPUoBMUT4SKHZkfqD+FDU47OHIM=

cache:
  directories:
  - $HOME/.m2
  - test/landsat8
  - test/sentinel2
  - test/target/temp/gdal
install:
  - .utility/pull-dev-resources.sh
  # This will only run on master w/ BUILD_DOCS=true
  - travis_wait 30 .utility/build-docs.sh
script:
  # This script uses the IT_ONLY flag to determine whether to run unit tests using verify, or ITs only using failsafe
  - .utility/run-tests.sh
before_install:
  # Force an ntp time sync which is required for Kudu to start (ntp is already installed on travis)
  - sudo service ntp stop && sudo ntpd -gq && sudo service ntp start
  # Remove travis CI jdk 11 from path
  - rm ${HOME}/.bash_profile.d/travis_jdk.bash
  - export PATH=${PATH/:\/usr\/local\/lib\/jvm\/openjdk11\/bin/}
  # Need to manually install oraclejdk8 since it is not available in Travis anymore
  - echo "oracle-java8-installer shared/accepted-oracle-license-v1-1 select true" | sudo debconf-set-selections
  - sudo apt-get install -y oracle-java8-installer oracle-java8-set-default
  - sudo update-java-alternatives -s java-8-oracle
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  # Check that oracle java 8 is installed
  - java -version
  - sudo apt-get install lzop
  # This must match the dev-resources version from the parent pom:
  - export DEV_RESOURCES_VERSION=1.2
  - export MAVEN_OPTS="-XX:CompressedClassSpaceSize=256m -XX:+UseSerialGC -Xmx2g -XX:MaxMetaspaceSize=512m -Dorg.slf4j.simpleLogger.defaultLogLevel=warn"
  - chmod +x .utility/pull-dev-resources.sh
  - chmod +x .utility/run-tests.sh
  - chmod +x .utility/build-docs.sh
  - chmod +x .utility/publish-docs.sh
  - chmod +x .utility/maven-coveralls-hack.sh
  - .utility/maven-coveralls-hack.sh
after_success:
  - .utility/publish-docs.sh
  - cd test; mvn coveralls:report -P ${MAVEN_PROFILES}
notifications:
    urls:
      - https://webhooks.gitter.im/e/1dd2fadd07a92dcdc3d8
addons:
  apt:
    sources:
      - webupd8team-java
    update: true
    packages:
      - pandoc
      - python-software-properties
      - debconf-utils
  coverity_scan:
    project:
      name: locationtech/geowave
      description: Build submitted via Travis CI
    notification_email: GeoWave@nga.mil
    build_command_prepend: mvn clean
    build_command: mvn clean compile -Dfindbugs.skip -DskipTests=true -Dformatter.skip -P ${MAVEN_PROFILES}
    branch_pattern: coverity_scan
