{% include JB/setup %}


<div class="unit one-fifth hide-on-mobiles">
  <aside>

    <h4>Scope</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/welcome.html">Welcome</a>
      </li>
      <li class="{% if page.title == "Theory Overview" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/theoryoverview.html">Theory Overview</a>
      </li>
      <li class="{% if page.title == "Theory Decomposition" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/decomposition.html">Theory Decomposition</a>
      </li>
    </ul>

    <h4>Architecture</h4>
    <ul>
      <li class="{% if page.title == "Architecture Overview" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/architectureoverview.html">Overview</a>
      </li>
      <li class="{% if page.title == "Indexes" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/indexes.html">Indexes</a>
      </li>
      <li class="{% if page.title == "Adapters" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/adapters.html">Adapters</a>
      </li>
      <li class="{% if page.title == "Accumulo Persistence" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/accumulo.html">Accumulo Persistence</a>
      </li>
    </ul>


    <h4>Ingest</h4>
    <ul>
        <li class="{% if page.title == "Ingest Overview" %}current{% endif %}">
            <a href="{{ BASE_PATH }}docs/ingestoverview.html">Overview</a>
        </li>
        <li class="{% if page.title == "Ingest Framework" %}current{% endif %}">
            <a href="{{ BASE_PATH }}docs/framework.html">Framework</a>
        </li>
        <li class="{% if page.title == "Ingest Standalone" %}current{% endif %}">
            <a href="{{ BASE_PATH }}docs/ingeststandalone.html">Standalone</a>
        </li>
        <li class="{% if page.title == "MR OutputFormat" %}current{% endif %}">
            <a href="{{ BASE_PATH }}docs/mroutputformat.html">Map Reduce OutputFormat</a>
        </li>
        <li class="{% if page.title == "Ingest Plugins" %}current{% endif %}">
          <a href="{{ BASE_PATH }}docs/ingestplugins.html">Plugins</a>
        </li>
        <li class="{% if page.title == "Examples" %}current{% endif %}">
            <a href="{{ BASE_PATH }}docs/ingestexamples.html">Examples</a>
        </li>
        <li>...</li>
    </ul>

    <h4>Query</h4>
    <ul>
      <li class="{% if page.title == "Query Overview" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/queryoverview.html">Overview</a>
      </li>
      <li class="{% if page.title == "Iterators" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/queryiterators.html">Iterators</a>
      </li>
      <li class="{% if page.title == "CQL" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/cql.html">CQL</a>
      </li>
      <li class="{% if page.title == "MR InputFormat" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/mrinputformat.html">Map Reduce InputFormat</a>
      </li>
      <li>...</li>
    </ul>
	
	<h4>Third Party</h4>
    <ul>
      <li class="{% if page.title == "GeoServer" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/geoserver.html">GeoServer</a>
      </li>
      <li>...</li>
    </ul>

    <h4>Analytics</h4>
    <ul>
      <li class="{% if page.title == "Kernel Density" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/kerneldensity.html">Kernel Density</a>
      </li>
      <li class="{% if page.title == "Kmeans Clustering" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/kmeansclustering.html">K-Means clustering</a>
      </li>
      <li>...</li>
    </ul>

    <h4>Examples</h4>
    <ul>
      <li class="{% if page.title == "Shapefile" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/shapefile.html">Shapefile</a>
      </li>
      <li class="{% if page.title == "OSMGPX" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/osmgpx.html">OSM GPX Data</a>
      </li>
      <li class="{% if page.title == "OSM Feature" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/osmfeature.html">OSM Feature Data</a>
      </li>
      <li>...</li>
    </ul>

    <h4>Tuning</h4>
    <ul>
      <li class="{% if page.title == "Index Tuning" %}current{% endif %}">
        <a href="{{ BASE_PATH }}docs/indextuning.html">Index Tuning</a>
      </li>
      <li>...</li>
    </ul>

  </aside>
</div>