
body {
	padding-bottom: 0;
}

#footer {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
	background-color: rgba(0,0,0,.8);
    padding: 1.25em;
}

#footer-text { color:rgba(255,255,255,.8); line-height: 1.44; }

#content {
    max-width: none;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

p, blockquote, dt, td.content {
	font-size: 1em;
}
.dropdown-submenu {
    position: initial;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
	min-height: 101%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.page-header h2 {margin-top:50px;}

#content h1#geowave { display:none; }
#content h2#geowave { display:none; }
