
.page-header h2 {margin-top:50px;}
#header, #content { max-width:none; margin-top: 0px; }
.navbar-wrapper { padding-top:0; margin-top:20px; }

#content h1#geowave { display:none; }

p { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:14px; color: #5a5a5a; }